* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background: #bc96cf;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #d5d56b, #6610f2);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: white;
    color: #0d6efd;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Section Title */
.section-title {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 28px;
}

/* Products */
.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background: white;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    border-radius: 5px;
}

.price {
    display: block;
    color: green;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}

.product-card button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background: #084298;
}

/* About */
.about {
    background: #f8f9fa;
    padding: 40px;
    text-align: center;
}

/* Contact */
.contact {
    padding: 40px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    margin-top: 20px;
}

/* Footer */
footer {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
